USE [master]
GO
/****** Object:  Database [DoNetSample]    Script Date: 2017/4/20 14:53:01 ******/
CREATE DATABASE [DoNetSample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoNetSample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DoNetSample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoNetSample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DoNetSample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoNetSample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoNetSample]
GO
USE [DoNetSample]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2017/4/20 14:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[account] [nvarchar](50) NOT NULL,
	[password] [nvarchar](64) NOT NULL,
	[role] [int] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[update_date] [datetime] NULL,
	[update_id] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([id], [name], [account], [password], [role], [create_date], [update_date], [update_id]) VALUES (1, N'Admin', N'admin', N'admin', 0, CAST(N'2017-04-20T14:25:21.960' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Member] OFF
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_role]  DEFAULT ((2)) FOR [role]
GO
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
USE [master]
GO
